name: Deploy CMS Lambda

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm ci
      - run: npm run build

      - run: |
          npx esbuild src/index.ts \
            --bundle \
            --platform=node \
            --target=node18 \
            --outfile=dist/index.js

      - run: |
          cd dist
          zip -r function.zip .

      - name: Debug GitHub Context
        run: |
          echo "Repository: $GITHUB_REPOSITORY"
          echo "Ref: $GITHUB_REF"          

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::661924949674:role/GitHubCmsDeployRole
          aws-region: ap-southeast-2

      - name: Deploy Lambda
        run: |
          aws lambda update-function-code \
            --function-name cms-api-prod \
            --zip-file fileb://dist/function.zip